
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

/**table.center { margin-left: auto; margin-right: auto; width: 80%; height:200px; margin-bottom: 5em; margin-top: 2em;}**/
.Div { text-align: center; }
.TH { background-color: blue}
body {background-color:firebrick;}
/**table{ width: 80%; height:200px; margin-bottom: 5em; margin-top: 2em;  }**/
table { width: 80%; margin: 0 auto; border-collapse: collapse;}
table, td, th { border:3.5px solid black; border-collapse: collapse; }
th, td { padding: 10px; }
td { background: White;  text-align: left; color: black; font-family: 'Exo 2', sans-serif; }
.font{color: black; font-family: 'Exo 2', sans-serif;}
th {text-align: center; color: white;}
th:nth-child(2), td:nth-child(2) {
  width: 50%;
}
th:nth-child(1), td:nth-child(1),
th:nth-child(3), td:nth-child(3) {
  width: 25%;
}
.VA { vertical-align:centre; }
h1 {  font-family: 'Russo One', sans-serif ;  color: yellow; text-align: center; font-size:30px  }
a { color: blue; margin-bottom: 5em; margin-right: 1em;  }
.space {margin-bottom: 5em;}
.edit {color: blue;}
.button {border-radius: 8px; width: 100px; margin-right: auto; margin-left: auto;}

.button:hover {
  background-color: red;
  color: white; cursor: pointer;
}
/* 
Form CSS 
*/
input[type=text], input[type=number] { width: 100%; margin-bottom: 1em; }
.formLabel{ font-family: 'Russo One', sans-serif;  color: yellow; }
input[type=submit] {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  float: left;
}
input[type=submit] :hover{background-color: red;
  color: white; cursor: pointer;}
.formdiv { width:50%; margin-left: auto; margin-right: auto; text-align: left; }

input[type="radio"] {
  display: inline-block;
  margin: 5px;
  width: 20px;
  height: 20px;
  background-color: #eee;
  border-radius: 50%;
  vertical-align: middle;
}

input[type="radio"]:checked {
  background-color: #007bff;
}
.center {
  margin: auto;
  width: 80%;
  padding: 10px;
  text-align: center;
  background-color: #007bff;
}
